.contact-container {
  background-image: url('https://res.cloudinary.com/dyivs1j8u/image/upload/v1676533255/kasbswoc8nqvylewaphp.jpg');
  background-size: cover;
  padding: 30px;
  text-align: center;
}
.icon-photo {
  height: 60px;
  width: 80px;
}
.result {
  color: green;
  font-weight: 600;
  font-size: 24px;
}
.row-container {
  display: flex;
  flex-direction: row;
  margin-left: 10%;
}
textarea {
  margin: 10px;
}
.details-container {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  border-style: solid;
  border-radius: 10px;
  border-width: 0.2px;
  padding: 10px;
  text-align: center;
}
.err-msg {
  color: red;
}
.hr1 {
  width: 100%;
}
.submitButton {
  background-color: orange;
  height: 40px;
  border-radius: 10px;
  border-width: 0px;
}
.input-container {
  display: flex;
  flex-direction: row;
}
.icons-container {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin: 15px;
  margin-right: 10%;

  align-self: center;
}
input {
  margin: 10px;
}
